 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter your Name">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="mob" class="text-light">Mobile Number</label>
            <input type="text" name="mob" value="" placeholder="10 digit number">
        </div>

        
        <div class="form-group">
            <label for="plot_type" class="text-light">Plot Type</label>
                  <input type="text" name="plot_type" value="" placeholder="Residential/Commercial/Agriculture/Goverment">
        </div>


        <div class="form-group">
            <label for="plot_ID" class="text-light">Plot ID</label>
                  <input type="text" name="plot_ID" value="" placeholder="Enter Plot Number">
        </div>








        <div class="form-group">
            <label for="plot_price" class="text-light">Plot price</label>
                  <input type="text" name="plot_price" value="" placeholder="Enter Plot Price">
        </div>


        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>